.timer {
    display: flex;
}


.field {
    display: flex;
    flex-direction: column;
   align-items: center;
    /* color: darkblue;
    font-size: 20px; */
    }

    .field:not(:last-child){
        margin-right: 20px;
    }

.value {
    font-size: 25px;
    font-style: bold;
    /* font-weight: 700; */
}

.label{

    font-size: 10px;

}

.timer-btn {
  width: 100px;
  background-color: yellow;
  border-radius: 45px;
  cursor: pointer;

}